#%RAML 1.0
---
title: CTC Guarantee Balance Test Support
description: The test support API to allow traders to trigger responses to Common Transit Convention guarantee balance enquiries
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
version: 1.0

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md

mediaType: [ application/json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/test/customs/guarantees/balances/{balanceId}:
  uriParameters:
    balanceId:
      description: The balance ID or message recipient ID of the balance request for which a response is being triggered.
      type: string
      example: "22b9899e-24ee-48e6-a189-97d1f45391c4"
      required: true

  post:
    displayName: Trigger a Balance Request Response
    is:
      - headers.contentHeader
    (annotations.scope): "common-transit-convention-guarantee-balance-test-support"
    securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-guarantee-balance-test-support" ] } ]
    body:
      application/json:
        type: !include schemas/simulated-balance-response-schema.json
        example: |
          {
            "taxIdentifier": "GB123456789012",
            "guaranteeReference": "20GB0000010000GX1",
            "response": {
                "status": "SUCCESS",
                "balance": 12345678.9,
                "currency": "EUR"
            }
          }
    responses:
      200:
      400:
        body:
          application/json:
            type: types.errorResponse
            examples:
              badRequest:
                description: The response data was unable to be parsed
                value:
                  code: BAD_REQUEST
              schemaValidation:
                description: The response did not satisfy the XML schema
                value:
                  code: SCHEMA_VALIDATION
      404:
        body:
          application/json:
            type: types.errorResponse
            examples:
              badRequest:
                description: The balance request was not found
                value:
                  code: NOT_FOUND
