#%RAML 1.0
---
title: CTC Guarantee Balance Test Support
description: The test support API to allow traders to trigger responses to Common Transit Convention guarantee balance enquiries
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
version: 1.0

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md

mediaType: [ application/json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml


traits:
  contentHeader:
    headers:
      Content-Type:
        description: Specifies the format of the request body, which must be either JSON or XML.
        type: string
        required: true
        example: application/json

/test/customs/guarantees/balances/{balanceId}:
  uriParameters:
    balanceId:
      description: The balance ID or message recipient ID of the balance request for which a response is being triggered.
      type: string
      example: "22b9899e-24ee-48e6-a189-97d1f45391c4"
      required: true

  post:
    displayName: Trigger a Balance Request Response
    is:
      - contentHeader
    (annotations.scope): "common-transit-convention-guarantee-balance-test-support"
    securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-guarantee-balance-test-support" ] } ]
    body:
      application/json:
        type: !include schemas/simulated-balance-response-schema.json
        example: |
          {
            "taxIdentifier": "GB123456789012",
            "guaranteeReference": "20GB0000010000GX1",
            "response": {
                "status": "SUCCESS",
                "balance": 12345678.9,
                "currency": "EUR"
            }
          }
      application/xml:
        example: |
          <CD037A>
            <SynIdeMES1>UNOC</SynIdeMES1>
            <SynVerNumMES2>3</SynVerNumMES2>
            <MesSenMES3>NTA.GB</MesSenMES3>
            <MesRecMES6>MDTP-GUA-22b9899e24ee48e6a18997d1</MesRecMES6>
            <DatOfPreMES9>20210806</DatOfPreMES9>
            <TimOfPreMES10>1505</TimOfPreMES10>
            <IntConRefMES11>deadbeefcafeba</IntConRefMES11>
            <MesIdeMES19>deadbeefcafeba</MesIdeMES19>
            <MesTypMES20>GB037A</MesTypMES20>
            <TRAPRIRC1>
              <TINRC159>GB12345678900</TINRC159>
            </TRAPRIRC1>
            <CUSTOFFGUARNT>
              <RefNumRNT1>GB000001</RefNumRNT1>
            </CUSTOFFGUARNT>
            <GUAREF2>
              <GuaRefNumGRNREF21>21GB3300BE0001067A001017</GuaRefNumGRNREF21>
              <AccDatREF24>20210114</AccDatREF24>
              <GuaTypREF22>4</GuaTypREF22>
              <GuaMonCodREF23>1</GuaMonCodREF23>
              <GUAQUE>
                <QueIdeQUE1>2</QueIdeQUE1>
              </GUAQUE>
              <EXPEXP>
                <ExpEXP1>2751.95</ExpEXP1>
                <ExpCouEXP2>2448</ExpCouEXP2>
                <BalEXP3>1212211848.45</BalEXP3>
                <CurEXP4>GBP</CurEXP4>
              </EXPEXP>
            </GUAREF2>
          </CD037A>

    responses:
      200:
      400:
        body:
          application/json:
            type: types.errorResponse
            examples:
              badRequest:
                description: The response data was unable to be parsed
                value:
                  code: BAD_REQUEST
              schemaValidation:
                description: The response did not satisfy the XML schema
                value:
                  code: SCHEMA_VALIDATION
      404:
        body:
          application/json:
            type: types.errorResponse
            examples:
              badRequest:
                description: The balance request was not found
                value:
                  code: NOT_FOUND
